src/output
src/modules/output
.venv
src/toc_scout_demo.py
src/input
src/logs
src/logs_perf
src/tests/test_output
src/credentials
src/extracted_image

src/__pycache__
**/__pycache__/

.ruff_cache/
.bandit/
.pytest_cache/
.coverage